:host::ng-deep{
  .p-menubar {
    padding: 0 0.5rem;
    background-color: black;
    color: yellow;

    font-size: 0.9rem;
    border:thin solid white;

  .p-menuitem {
    &:first-child{
      font-weight: bold;
      padding: 0 1rem;
    }

    .p-menuitem-link {
      padding: 0.5rem 0.75rem;

      .p-menuitem-text{
        color: yellow;
      }
    }
   }

   i {
    padding: 0 0.75rem;
   }

  }
}
