.card-body{
  padding-bottom: 1rem;
}

.writeComment{
  display: flex-wrap;
  padding-top: 1rem;
  justify-content: right;
}

.submitComment{
  padding-left: 1rem;
  cursor: pointer;
}

.comment{
  flex-wrap: wrap;
}
