<div class="grid justify-content-center card">
  <div class="flex flex-column card-container col-8 md:col-6 lg:col-4 sm:flex-nowrap">
    <div class="card-body" *ngFor="let publication of publications">
      <p-card>
        <ng-template pTemplate="header">
          <div class="username">
            {{publication.user.name}} {{publication.user.lastName}}
          </div>
        </ng-template>
          <div class="postText">
            {{publication.text}}
          </div>
        <ng-template pTemplate="footer">
          <div class="likeAndComment">
            <div class="like">
              <i class="pi pi-thumbs-up"></i> {{publication.likes}}
            </div>
            <div class="comment">
              <app-comment [publicationId] = "publication.id"></app-comment>
             <!--   <i class="pi pi-comments" (click)="teste()"></i> -->
            </div>
          </div>
          <div class="writeComment">
            <input class="col-8" type="text" placeholder="Comente algo!"/>
            <i class="pi pi-chevron-circle-up submitComment" style="font-size: 1rem" pTooltip="Comentar"></i>
        </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>


