.p-card{
  background-color: red;
}

.card-body{
  padding-bottom: 20px;
}


.like {
  padding-right: 2rem;
  padding-left: 1px;
}

.comment{
  color: white;
  cursor: pointer;
}

.likeAndComment{
  display: flex;
  cursor: pointer;
}

.writeComment{
  display: flex-wrap;
  padding-top: 1rem;
}

.submitComment{
  padding-left: 1rem;
  cursor: pointer;
}
