.p-card{
  background-color: red;
}

.card-body{
  padding-bottom: 20px;
}


.like {
  padding-right: 2rem;
  padding-left: 1px;
}

.comment{
  color: white;
  cursor: pointer;
  flex-wrap: wrap;
}

.likeAndComment{
  cursor: pointer;
  display: flex;
  justify-content: center;
}
