<div class="grid justify-content-center card">
  <div class="col-8 md:col-6 lg:col-4 sm:flex-nowrap">

        <!-- Formulário de postagem -->
        <div class="newPost">
          <div class="infoUser">

            <strong>Matheus Reinert</strong>
          </div>

          <form action="" class="formPost" id="formPost">
            <textarea name="textarea" id="textarea"></textarea>
            <div class="iconsAndButton">
              <div class="icons">
                <button class="btnFileForm">
                  <i class="pi pi-image" alt="Adicionar uma imagem"></i>
                </button>
              </div>

              <button type="submit" id="botao" class="btnSubmitForm">Publicar</button>
            </div>
          </form>
        </div>

        <ul class="posts" id="posts"></ul>

  </div>
